/* footer.css */

.footer {
  width: 100%;
  min-height: 250px; /* Use min-height to ensure the footer covers the content */
  background: #21325e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  position: relative;
  bottom: 0;
  margin-top: auto; /* Use auto to push the footer to the bottom */
  /* Add more styling as needed */
}

.socialMedia svg {
  color: white;
  margin: 0 10px; /* Adjust margin for spacing */
  font-size: 50px; /* Adjust font size for better proportion */
  cursor: pointer;
}

.footer p {
  color: white;
  margin-top: 10px; /* Add margin for spacing */
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 40px;
  }
}
